In [3]:
import pandas as pd
df = pd.read_csv("Iris.csv")
df.drop("Id", axis=1, inplace=True)

In [4]:
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [5]:
df["Species"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [6]:
class_names = list(df["Species"].unique())

df["Species"] = df["Species"].map(lambda label: class_names.index(label))

In [7]:
from sklearn.model_selection import train_test_split

train_df, val_df = train_test_split(df, test_size=0.3, stratify=df["Species"], random_state=42)

In [8]:
import tensorflow as tf

model = tf.keras.Sequential([
    tf.keras.layers.Dense(64, activation="relu"),
    tf.keras.layers.Dense(64, activation="relu"),
    tf.keras.layers.Dense(3, activation="softmax")
])

In [9]:
model.compile(
    loss="sparse_categorical_crossentropy",
    metrics=["accuracy"]
)

In [10]:
tf.random.set_seed(12345)

In [11]:
earlystopping = tf.keras.callbacks.EarlyStopping(patience=10, restore_best_weights=True)

In [12]:
model.fit(
    train_df.drop("Species", axis=1),
    train_df["Species"],
    epochs=250,
    validation_data=(val_df.drop("Species", axis=1), val_df["Species"]),
    callbacks=[earlystopping],
    batch_size=64,
    verbose=0,
)

In [13]:
val_loss, val_acc = model.evaluate(val_df.drop("Species", axis=1), val_df["Species"])
train_loss, train_acc = model.evaluate(train_df.drop("Species", axis=1), train_df["Species"])

print(f"Training loss: {train_loss}")
print(f"Training accuracy: {train_acc}")
print(f"Validation loss: {val_loss}")
print(f"Validation accuracy: {val_acc}")

2/2 [==============================] - 0s 8ms/step - loss: 0.0584 - accuracy: 1.0000
4/4 [==============================] - 0s 3ms/step - loss: 0.0647 - accuracy: 0.9714
Training loss: 0.06471424549818039
Training accuracy: 0.9714285731315613
Validation loss: 0.058361269533634186
Validation accuracy: 1.0

In [14]:
# Saving our model
model.save("./model")

INFO:tensorflow:Assets written to: ./model/assets